.navbar {
    background-color: var(--nav);
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar ul li {
    cursor: pointer;
    margin: 1vw;
    margin-right: 3vw;
    font-size: 20px;
    color: white;
}
